body {
    background: lightblue;
}

header {
    text-align: center;
}

#container {
    width: 650px;
    height: 400px;
    background: #ffffffff;
    margin: 0 auto;
}

#btn {
    position: absolute;
    top: 440px;
    right: 395px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}